body{
    background-color: rgb(67, 172, 241);
    font-family: sans-serif;
}

.container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: white;
    margin-left: 33%;
   margin-top: 10%;
    border-radius: 5px;
}

input{
   border-radius: 5px ;
    border: 2px solid rgb(67, 172, 241);
    width: 270px;
    padding: 8px;
    outline: none;
    font-size: 19px;
}
button{
    width: 60px;
    height: 43px;
    border-radius: 7px ;
    font-size: 19px;
    background-color: rgb(67, 172, 241);
   font-size: 19px;
   border: none;
   outline: none;
   cursor: pointer;
 
}
.text ul{
    list-style-type: none ;
  position: relative;
  width: 355px;
    background-color: rgb(67, 172, 241);
    color: white;
    text-align: left;
    font-size: 19px;
    padding: 4px;
    margin-top: 8px;
  margin-left: -38px;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.text ul li {
    padding: 10px; 
    box-sizing: border-box; }
.text ul i{
    position:absolute;
    right: 10px;
    cursor: pointer;
}
li {
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
}
.text ul .fa-pen {
    right: 60px;
}

